html
    head
        title!= title
        style
            include css/index.css
            include bootstrap/css/bootstrap.css

    body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
          a.col-2(href='')
          //img(src='../../img/movie.png', style='height: 45px;width: 45px;margin-left: 60px')
          a(style='color:#707070') ❀
          a.navbar-brand(href='#') 电影推荐
          // 搜索
          a.col-2(href='')
          form.form-inline.my-2.my-lg-0
              input.form-control.mr-sm-2(type='search', placeholder='搜索电影', aria-label='Search')
              //input(type='image', src='/public/images/search.png', name='img', style='width: 40px;height: 40px')
              a(href='#',style='color:#707070') 搜索

          a.col-2
              a(style='color:#707070') 用户名：#{username}
          //a(href='#', style='color:#707070',onclick="window.location='loginpage'") 登录
          //a(href='#',style='color:#707070', onclick="window.location='registerpage'") /注册
          //    //a(href='#', style='color:#707070') 登录/注册

          button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
              span.navbar-toggler-icon


     h1(align='center') 亲爱的用户:#{username},猜你喜欢电影:
    table( cellpadding="5" cellspacing="5" align="center")
         tr
           -for(var i=0;i<movieinfo.length;i++)
            td
              img(src=movieinfo[i].picture)
              p #{movieinfo[i].moviename}
            -if((i+1)%5==0)
             tr
