html
    head
        title!= title
        style
            include css/index.css
            include bootstrap/css/bootstrap.css

    body
    // 导航条
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.col-2(href='')
        img(src='../img/movieblue.png', style='height: 45px;width: 45px;margin-left: 60px')
        //a(style='color:#707070') ❀
        a.navbar-brand(href='#') 电影推荐
        //.navbar-nav
            //jade跳转未解决
        a.nav-item.nav-link(href='#',style='color:#707070') 主页
        a(href='movietype.html',style='color:#707070') 分析展示
        a.nav-item.nav-link(style='color:#000000') 推荐结果

        a.col-4(href='')
        a(style='color:#707070') 用户名：#{username}

          //button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
          //    span.navbar-toggler-icon


     h1(align='center') 亲爱的用户:#{username},猜你喜欢电影:
    table( cellpadding="5" cellspacing="5" align="center")
         tr
           -for(var i=0;i<movieinfo.length;i++)
            td
              img(src=movieinfo[i].picture)
              p #{movieinfo[i].moviename}
            -if((i+1)%5==0)
             tr
